/* form css start */
.form-control {
    padding: 10px 20px;
    border: 1px solid rgba(204, 163, 84, 0.45);
    width: 100%;
    background-color: transparent;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    min-height: 50px;
}

select option {
    background-color: #cca354;
    padding: 10px 0;
    display: block;
    border-top: 1px solid #e5e5e5;
}

textarea {
    min-height: 150px !important;
    resize: none;
    width: 100%;
}

label {
    color: #fff;
    margin-bottom: 10px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.form-check-input {
    margin-top: 8px;
}

.custom-checkbox {
    display: flex;
    align-items: center;
}

.custom-checkbox input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.custom-checkbox label {
    position: relative;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 0;
}

.custom-checkbox label::before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 6px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 8px;
}

.custom-checkbox input:checked + label::after {
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    left: 5px;
    width: 5px;
    height: 8px;
    border: solid #0079bf;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* form css end*/

/* button css start */
.cmn-btn {
    padding: 12px 35px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #cca354;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: #000000;
}

.cmn-btn:hover {
    color: #000000;
    background-color: #b78b36;
}

.cmn-btn.active {
    background-color: #001d4a;
}

.cmn-btn2 {
    padding: 12px 35px;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #062c4e;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: #000000;
}

.cmn-btn2:hover {
    color: #000000;
    background-color: #c69840;
}

.border-btn {
    padding: 14px 35px;
    font-size: 16px;
    font-weight: weight("semi");
    text-transform: capitalize;
    color: #ffffff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid #e5e5e5;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: #ffffff;
}

.border-btn:hover {
    background-color: #cca354;
    color: #000000;
    border-color: #cca354;
    box-shadow: 0px 25px 40px 0px rgba(51, 51, 51, 0.1);
}

.read-btn {
    padding: 10px 20px;
    min-width: 130px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: rgba(204, 163, 84, 0.14);
    color: #cca354;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.read-btn:hover {
    background-color: #cca354;
    color: #ffffff;
}

.btn-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.btn-group *[class*="btn"] {
    margin: 5px 10px;
    align-items: center;
}

.btn-group *[class*="btn"].d-flex {
    padding: 8px 35px;
}

[class*="btn"].btn-md {
    padding: 8px 30px;
}

[class*="btn"].btn-sm {
    padding: 6px 20px;
}

.action-btn {
    padding: 5px 15px;
    font-weight: 600;
    background-color: #ffffff;
    color: #cca354;
    font-size: 14px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* button css end */

.footer__top img{
  max-width: 250px;
  max-height: 43px;
}
.modal-content {
    background-color: #242431;
    border: 1px solid rgba(0,0,0,.2);
}
.close,.close:hover {
    color: #fff;
    opacity: 1;
}
.custom-input-group{
    background-color: transparent !important;
    border: none !important;
    padding: 0;
}
.country-select{
    height: 50px;
}

#phoneInput .letter{
        border: 1px solid #cca354 !important;
            background: transparent !important;
}
#phoneInput .letter + .letter {
    border-left: 1px solid #cca354 !important;
}
.card {
    box-shadow: 0 0 15px rgba(204, 163, 84, 0.5);
    background-color: #000000;
    border: 2px solid rgba(204, 163, 84, 0.5);
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: transparent;
    border: 1px dashed #cca35454;
}
.btn{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 8px 30px;
}
.cmn-section{
    padding: 30px 0px;
    background: none;
}
.table.style--two thead tr th {
     color: #000; 
}
.card .card-header {
    background-color: #cca354;
}
.input-group-text {
    background-color: #cca354;
    border: 1px solid #cca354;
}
.header .main-menu li .sub-menu li a {
    color: #ffffff !important;
}

.referral-ul li {
    padding-left: 1em;
    border: 1px dotted #fff;
    border-width: 0 0 1px 1px;
}

.referral-ul li.container {
    border-bottom: 0px;
    width: 100%;
}

.referral-ul li.empty {
    font-style: italic;
    color: silver;
    border-color: silver;
}

.referral-ul li p {
    margin: 0;
    /*background: #121622;*/
    position: relative;
    top: 0.5em;
    padding-bottom: 3px;
}

.referral-ul li ul {
    border-top: 1px dotted #ffffff;
    margin-left: -1em;
    padding-left: 2em;
}

.referral-ul ul li:last-child ul {
    border-left: 1px dotted #fff;
    margin-left: -17px;
}
.pt-60{
    padding-top: 60px !important;
}
.btn-disabled{
    opacity: 0.5;
    cursor: auto !important;
}
/* pricing Start */
.pricing {
  position: relative;
  padding: 60px 0px 60px;
  z-index: 1;
}
.pricing .pricing-bg {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: auto;
}
.pricing .shape-1 {
  position: absolute;
  top: 5%;
  left: 2%;
  -webkit-animation: rotate 5s ease-in-out infinite;
  animation: rotate 5s ease-in-out infinite;
}
.pricing .shape-2 {
  position: absolute;
  top: 15%;
  left: 4%;
  -webkit-animation: trantani 6s ease-in-out infinite;
  animation: trantani 6s ease-in-out infinite;
}
.pricing .section-head {
  position: relative;
}
.pricing .pricing-item {
  overflow: hidden;
  margin-top: 60px;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  text-align: center;
  border-radius: 30px;
  margin-left: 40px;
  position: relative;
}
.pricing .pricing-item .circle {
  position: absolute;
}
.pricing .pricing-item .circle-1 {
  right: 10px;
  bottom: 5px;
}
.pricing .pricing-item .circle-2 {
  top: 50px;
  left: 50%;
}
.pricing .pricing-item .circle-3 {
  top: 50px;
  left: -30px;
}
.pricing .pricing-item .circle-4 {
  bottom: -35px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
.pricing .pricing-item .circle-5 {
  right: -30px;
  bottom: -30px;
}
.pricing .pricing-item .pricing-header {
  position: relative;
  color: #fff;
  padding-bottom: 30px;
}
.pricing .pricing-item .pricing-header .name {
  font-weight: 600;
  margin: 0 auto;
  border-radius: 0 0 30px 30px;
  line-height: 40px;
  display: inline-block;
  width: auto;
  margin: 0 auto 40px;
  background: #fff;
  color: #3b368c;
  min-width: 160px;
  padding: 0 15px;
}
.pricing .pricing-item .pricing-header .title {
  color: #fff;
  font-weight: 400;
  margin: 0;
  line-height: 1;
}
.pricing .pricing-item .pricing-header .title .info {
  text-transform: uppercase;
}
.pricing .pricing-item .pricing-body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #fff;
  -webkit-box-shadow: 1.95px 15.881px 30px 0 rgba(47, 105, 252, 0.3);
          box-shadow: 1.95px 15.881px 30px 0 rgba(47, 105, 252, 0.3);
  margin-left: -10px;
  -webkit-transform: translateX(-30px);
  transform: translateX(-30px);
  padding: 20px 40px 20px 65px;
  border-radius: 0 30px 30px 0;
  position: relative;
  z-index: 9;
}
.pricing .pricing-item .pricing-body:before {
  position: absolute;
  width: 40px;
  height: 48px;
  background: #cdd0f6;
  left: 0;
  top: 100%;
  content: "";
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}
.pricing .pricing-item .pricing-body ul li {
  border-bottom: 2px dotted #bccaea;
  line-height: 28px;
  padding: 8px 0;
  color: #3b368c;
}
.pricing .pricing-item .pricing-body ul li:last-child {
  border-bottom: 0px;
}
.pricing .pricing-item .pricing-footer {
  position: relative;
  padding: 40px 15px;
}
.pricing .pricing-item .pricing-footer a.button-1 {
  margin: 0px auto 0px;
}
.pricing .pricing-item.two {
  margin-top: 30px;
}
.pricing .pricing-item.two .pricing-header {
  padding-bottom: 70px;
}
.pricing .pricing-item.two .pricing-footer {
  padding: 40px 15px 60px;
}


/* FAQ Start */
.faq {
  padding: 0;
  position: relative;
}
.faq .fdot-1 {
  position: absolute;
  top: 15%;
  left: 45%;
  max-width: unset;
  z-index: -1;
  -webkit-animation: trantani 8s linear infinite;
  animation: trantani 8s linear infinite;
}
.faq .fdot-2 {
  position: absolute;
  top: 6%;
  left: 65%;
  max-width: unset;
  z-index: -1;
  -webkit-animation: trantani 6s linear infinite;
  animation: trantani 6s linear infinite;
}
.faq .fdot-3 {
  position: absolute;
  top: 0%;
  left: 35%;
  max-width: unset;
  z-index: -1;
  -webkit-animation: trantani 4s linear infinite;
  animation: trantani 4s linear infinite;
}
.faq .section-head {
  margin-bottom: 26px;
}
.faq .section-head p.text a.link {
  color: #3e19ff;
}
.faq .section-head p.text a.link:hover {
  text-decoration: underline;
}
.faq .faq-box .accordion .accordion-item {
  outline: none;
  margin-top: 20px;
}
.faq .faq-box .accordion .accordion-item:first-child {
  margin-top: 34px;
}
.faq .faq-box .accordion .accordion-item .accordion-header {
  position: relative;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 9.272px 3.746px 38px 0px rgba(176, 163, 231, 0.26);
          box-shadow: 9.272px 3.746px 38px 0px rgba(176, 163, 231, 0.26);
}
.faq .faq-box .accordion .accordion-item .accordion-header button.accordion-button {
  position: relative;
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  line-height: 32px;
  font-weight: 600;
  color: #3b368c;
  border-radius: 0;
  border: none;
  outline: none !important;
  padding: 20px 50px 20px 20px;
}
.faq .faq-box .accordion .accordion-item .accordion-header button.accordion-button[aria-expanded=true] {
  background: transparent;
  outline: none !important;
}
.faq .faq-box .accordion .accordion-item .accordion-header button.accordion-button:focus {
  -webkit-box-shadow: 0 0 0 0 rgba(13, 110, 253, 0.25);
          box-shadow: 0 0 0 0 rgba(13, 110, 253, 0.25);
}
.faq .faq-box .accordion .accordion-item .accordion-header button.accordion-button .icon {
  margin-right: 20px;
}
.faq .faq-box .accordion .accordion-item .accordion-header button.accordion-button:after {
  display: none;
}
.faq .faq-box .accordion .accordion-item .accordion-header button.accordion-button:before {
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "ÔÅî";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #3b368c;
}
.faq .faq-box .accordion .accordion-item .accordion-header button.accordion-button[aria-expanded=true]:before {
  top: 35%;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.faq .faq-box .accordion .accordion-item .accordion-collapse {
  border: none;
  border-top: 0;
  border-radius: 0px 0px 10px 10px;
  background-color: white;
  -webkit-box-shadow: 9.272px 3.746px 38px 0px rgba(176, 163, 231, 0.26);
          box-shadow: 9.272px 3.746px 38px 0px rgba(176, 163, 231, 0.26);
}
.faq .faq-box .accordion .accordion-item .accordion-collapse .accordion-body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #33276a;
  font-weight: 400;
  padding: 24px 30px 26px 30px;
}
.faq .fpic {
  margin-left: 30px;
}
.faq .fpic .faq-girl {
  max-width: unset;
}



/* feature Start */
.feature {
  padding: 60px 0 60px;
}
.feature .pic {
  margin-left: 30px;
}
.feature .pic .feature-img {
  max-width: unset;
}
.feature .section-head ul.list {
  padding-top: 17px;
}
.feature .section-head ul.list li.list-item {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: 3.801px 12.432px 38px 0px rgba(207, 200, 234, 0.26);
          box-shadow: 3.801px 12.432px 38px 0px rgba(207, 200, 234, 0.26);
  padding: 30px 30px 30px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.feature .section-head ul.list li.list-item span.icon {
  margin-right: 30px;
}
.feature .section-head ul.list li.list-item span.icon img {
  min-width: 50px;
}
.feature .section-head ul.list li.list-item h3.subtitle {
  color: #33276a;
}
.feature .section-head ul.list li.list-item p.text {
  color: #62598f;
}
.feature .section-head ul.list li.list-item:hover {
  -webkit-box-shadow: 0px 10px 8px 0px rgba(231, 226, 255, 0.65);
          box-shadow: 0px 10px 8px 0px rgba(231, 226, 255, 0.65);
}

.feature.one .pic {
  direction: rtl;
  margin-left: 0px;
  margin-right: 30px;
}
.feature.one .pic .feature-img {
  max-width: unset;
}

/* pricing Start */
.pricing {
  position: relative;
  padding: 60px 0px 60px;
  z-index: 1;
}
.pricing .pricing-bg {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: auto;
}
.pricing .shape-1 {
  position: absolute;
  top: 5%;
  left: 2%;
  -webkit-animation: rotate 5s ease-in-out infinite;
  animation: rotate 5s ease-in-out infinite;
}
.pricing .shape-2 {
  position: absolute;
  top: 15%;
  left: 4%;
  -webkit-animation: trantani 6s ease-in-out infinite;
  animation: trantani 6s ease-in-out infinite;
}
.pricing .section-head {
  position: relative;
}
.pricing .pricing-item {
  overflow: hidden;
  margin-top: 60px;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  text-align: center;
  border-radius: 30px;
  margin-left: 40px;
  position: relative;
}
.pricing .pricing-item .circle {
  position: absolute;
}
.pricing .pricing-item .circle-1 {
  right: 10px;
  bottom: 5px;
}
.pricing .pricing-item .circle-2 {
  top: 50px;
  left: 50%;
}
.pricing .pricing-item .circle-3 {
  top: 50px;
  left: -30px;
}
.pricing .pricing-item .circle-4 {
  bottom: -35px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
.pricing .pricing-item .circle-5 {
  right: -30px;
  bottom: -30px;
}
.pricing .pricing-item .pricing-header {
  position: relative;
  color: #fff;
  padding-bottom: 30px;
}
.pricing .pricing-item .pricing-header .name {
  font-weight: 600;
  margin: 0 auto;
  border-radius: 0 0 30px 30px;
  line-height: 40px;
  display: inline-block;
  width: auto;
  margin: 0 auto 40px;
  background: #fff;
  color: #3b368c;
  min-width: 160px;
  padding: 0 15px;
}
.pricing .pricing-item .pricing-header .title {
  color: #fff;
  font-weight: 400;
  margin: 0;
  line-height: 1;
}
.pricing .pricing-item .pricing-header .title .info {
  text-transform: uppercase;
}
.pricing .pricing-item .pricing-body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #fff;
  -webkit-box-shadow: 1.95px 15.881px 30px 0 rgba(47, 105, 252, 0.3);
          box-shadow: 1.95px 15.881px 30px 0 rgba(47, 105, 252, 0.3);
  margin-left: -10px;
  -webkit-transform: translateX(-30px);
  transform: translateX(-30px);
  padding: 20px 40px 20px 65px;
  border-radius: 0 30px 30px 0;
  position: relative;
  z-index: 9;
}
.pricing .pricing-item .pricing-body:before {
  position: absolute;
  width: 40px;
  height: 48px;
  background: #cdd0f6;
  left: 0;
  top: 100%;
  content: "";
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}
.pricing .pricing-item .pricing-body ul li {
  border-bottom: 2px dotted #bccaea;
  line-height: 28px;
  padding: 8px 0;
  color: #3b368c;
}
.pricing .pricing-item .pricing-body ul li:last-child {
  border-bottom: 0px;
}
.pricing .pricing-item .pricing-footer {
  position: relative;
  padding: 40px 15px;
}
.pricing .pricing-item .pricing-footer a.button-1 {
  margin: 0px auto 0px;
}
.pricing .pricing-item.two {
  margin-top: 30px;
}
.pricing .pricing-item.two .pricing-header {
  padding-bottom: 70px;
}
.pricing .pricing-item.two .pricing-footer {
  padding: 40px 15px 60px;
}

